html {
  height: 100%;
  font-family: Georgia;
}

body {
  width: 90%;
  height: 90%;
  background-color: #224010;
}

header {
  background-color: #88FF3E;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  font-family: Georgia;
  border: 4px solid #111;
  text-align: center;
}

nav, a {
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-weight: 900;
  font-size: 50px;
  text-align: center;
  display: block;
  margin: auto;
}

h2 {
  font-size: 20px;
  text-align: center;
  display: block;
  margin: auto;
}

.button {
  background-color: maroon;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 900;
  color: orange;
}

body {
  background-color: darkgreen;
  margin: auto;
}

h3 {
  top: 10px;
  right: 10px;
  left: 10px;
  bottom: 10px;
  background-color: chartreuse;
  line-height: 30px;
  padding: 10px;
  font-size: 20px;
  padding-left: 20px;
  border: 4px solid maroon;
}

.back {
  width: 50vw;
  display: block;
  margin: auto;
  border: 8px solid black;
}
.sec {
  font-size: 15px;
  background-color: #17FF35;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sidebutton {
  background-color: maroon;
  border: 0.9px solid #000;
  border-radius: 2px;
  padding: 5px;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 900;
}

.im {
  height: 200px;
  border: 4px solid #000;
  text-align: left;
}
